/*********************************************************
COLOR VARIABLES
**********************************************************/
:root {
    --backgroundColor: rgb(0, 75, 82);
    --tableColor: rgb(0, 82, 7);
    --borderColor: rgb(82, 7, 0);
    --buttonColor: rgb(64, 125, 69);
    --disabledColor: rgb(55, 80, 57);
}

/*********************************************************
STYLING
**********************************************************/

html {
    height: 100%;
}

body {
    background-color: var(--backgroundColor);
    height: 100%;
    font-family: 'Lato', sans-serif;
}

.grid {
    display: grid;
    height: 100%;
    column-gap: 10px;
    grid-template-columns: 4fr 1fr;
}

.playArea {
    width: 100%;
    height: 85%;
    border-radius: 20px;
    background-color: var(--tableColor);
    border: 20px solid var(--borderColor);
    box-shadow: 10px 5px 5px black;
    display: grid;
    grid-template-columns: 1fr;
}

.dealerArea {
    justify-self: center;
}

.userArea {
    justify-self: center;
}

.controlsArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
}

.nameInput {
    width: 90%;
}

button {
    background-color: var(--buttonColor);
    padding: 10px;
    margin: 5px;
    width: 95%;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    color: white;
    border: 5px solid var(--borderColor);
    box-shadow: 10px 5px 5px black;
}

button:disabled {
    background-color: var(--disabledColor);
    color: gray;
}

.startArea {
    background-color: var(--tableColor);
    padding: 10px;
    margin: 5px;
    width: 80%;
    color: white;
    border: 5px solid var(--borderColor);
    box-shadow: 10px 5px 5px black;
}

.gameCommandsArea {
    background-color: var(--tableColor);
    padding: 10px;
    margin: 5px;
    width: 80%;
    color: white;
    border: 5px solid var(--borderColor);
    box-shadow: 10px 5px 5px black;
}

.name {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.cards {
    width: 100%;
    height: 70%;
    display: flex;
}

.modal {
    display: none;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: var(--tableColor);
    padding: 10px;
    margin: 5px;
    border: 5px solid var(--borderColor);
    box-shadow: 10px 5px 5px black;
}

/*********************************************************
FOR DESKTOP
**********************************************************/
@media (min-width: 1081px) {
    .playArea {
        border-radius: 0 0 50% 50% / 0 0 100% 100%;
        border-width: 25px;
    }
}